<footer class="jumbotron">
    <div class="text-center text-white">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-8 mt-2">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis quos ratione sed ipsam modi
                        corporis provident harum explicabo quasi obcaecati maiores atque dolorem aperiam soluta ipsa
                        dolore libero, vero suscipit.</p>
                </div>
            </div>
        </div>
        <div class="text-center mb-2">
            <a href="" class="text-white me-4">
                <img src="../../../assets/img/linkedin.png" alt="icono-linkedin">
            </a>
        </div>
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-8 mt-2">
                    <h3>CARLOS FERRER MARTINEZ</h3>
                </div>
            </div>
        </div>
    </div>
</footer>